.CompositWrapper{
    max-width: 1920px;
    width: 90%;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;

    flex-wrap: wrap;

    margin: 0 20px;
}


.CompositItemWrapper{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    width: fit-content;
    flex: 1 1 35%;

    box-shadow: 0 1px 29px 0 #e5ecf2;

    border-radius: 20px;

    padding: 20px;

    gap: 10px;
}

.ContentComposit{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 10px;
}

.WrappForImageComposit{
    width: 45%;
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
}

.WrappForImageComposit img{
    width: 100%;
    height: 100%;

    object-fit: cover;
}
