*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

#root{
  display: flex;
  justify-content: center;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  width: 100%;

  gap: 40px;
}

.AppWrapp{
display: flex;
justify-content: center;
flex-direction: column;
background-color: #fff;
width: 768px;
height: 100%;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: unset;
}